.pending-prices {
  height: 90vh;
  width: 100vw;
  background-image: url("../../../../public/background-login.jpg");;
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
}