
.submissions-table .p-datatable * :not(.p-button-danger, .p-button-success, .p-button-label) {
  background-color: rgba(255,255,255,0.4) !important;
  color: #030305;
  border: none !important;
}

.submissions-table .p-datatable {
  width: 90vw;
  height: 80vh;
  margin-left: 5vw;
  margin-top: 5vh;
  border-radius: 12px;
  overflow: hidden;

  .p-inputtext {
    width: 40vw;
    text-align: left;
  }

  .p-datatable-header {
    font-size: 1.8rem;
    background-color: #efb730 !important;
    color: #030305;
    display: flex;
    justify-content: center;
  }
  
  .p-datatable-thead tr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .p-datatable-thead tr th {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-grow: 0.1;
    align-items: center;
    width: 100px ;
    background: none !important;

    .p-column-header-content {
      background: none !important;
    }

  }

  .p-datatable-tbody tr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .p-datatable-tbody tr td {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0.1;
    text-align: center;
    width: 100px ;
    background: none !important;
  }

}

#pending-img {
  border-radius: 10px;

  &:hover {
    transform: scale(1.05);
  }

}

#document-btn {
  background-color: #efb730 !important;
  color: #030305;
  border: none;
  border-radius: 8px;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(239,183,48,0.8) !important;
  }

}