header {
  height: 10vh;
  background-color: #efb730;
  color: #030305;
  display: flex;
}

.nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin-left: 2.5vw;
}

.logo {
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
}

@media only screen and (max-width: 960px) {

  .logo {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 600px) {

  .nav-area {
    width: 100vw;
  }

  .logo {
    font-size: 1rem;
  }
  
}


